* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

#wrapper {
  width: 100%;
  height: 100vh;
  background-color: salmon;
}

main {
  height: calc(100% - 90px);
  display: flex;
}

#nav-bar {
  width: 210px;

  background-color: black;
}

#content {
  width: calc(100% - 210px);
  background-color: #141922;
  overflow: scroll;
}

footer {
  height: 90px;
  background-color: #282828;
}

/* nav-bar layout */
#logo {
  height: 40px;
  margin-top: 20px;
  margin-left: 20px;
}
#logo img {

  height: 100%;
}

#navigation {
  margin-top: 30px;
}
#navigation ul {
  list-style: none;
}
#navigation ul li {
  padding: 5px 20px;

}
#navigation ul li:first-child {
  border-left: 1px solid #ADFF2E;
}
#navigation ul li:first-child a {
  color: white;
}
#navigation ul a {
  text-decoration: none;
  color: #6F6F6F;
  font-size: 14px;
}
#navigation ul a:hover {
  color: white;
}

#navigation i {
  color: #6F6F6F;
  font-size: 20px;
  vertical-align: middle;
  margin-right: 5px;
}
#navigation ul li:first-child i {
  color: white;
}
