* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#nav-bar-xs {
  display: none;
}

body {
  color: white;
  font-family: 'Open Sans', sans-serif;
}

#wrapper {
  width: 100%;
  height: 100vh;
}

main {
  height: calc(100% - 80px);
  display: flex;
  overflow: hidden;
}

#nav-bar {
  width: 210px;
  height: 100%;
  min-height: 400px;
  overflow: hidden;
  background-color: black;
}

#content-window {
  width: calc(100% - 210px);
  background-color: #141922;
  overflow: scroll;
}

footer {
  height: 80px;
  background-color: #282828;
}

/* nav-bar layout */
#navbar-top{
  display: flex;
  flex-direction: column;
  height: calc(100% - 75px);
  overflow: hidden;
}

#logo {
  height: 40px;
  margin-top: 20px;
  margin-left: 20px;
}
#logo img {
  height: 100%;
}

#navigation {
  margin-top: 30px;
}
#navigation ul {
  list-style: none;
}
#navigation ul li {
  padding: 5px 20px;
}
#navigation ul li:first-child {
  border-left: 2px solid #ADFF2E;
  padding-left: 18px;
}
#navigation ul li:first-child a {
  color: white;
}
#navigation ul li:first-child i {
  color: white;
}
#navigation ul a {
  text-decoration: none;
  color: #6F6F6F;
  font-size: 12px;
}
#navigation ul a:hover {
  color: white;
}

#navigation i {
  color: #6F6F6F;
  font-size: 18px;
  vertical-align: middle;
  margin-right: 5px;
}

#playlist{
  padding: 20px;
  overflow: hidden;
}
#playlist h5 {
  color: white;
  margin-bottom: 10px;
}

#crea-playlist > a {
  text-decoration: none;
  color: #6F6F6F;
  font-size: 14px;
  font-weight: bold;
}
#crea-playlist > a:before {
  display: inline-block;
  margin-right: 10px;
  content:"+";
  height: 35px;
  width: 35px;
  color: black;
  background-color: #6F6F6F;
  text-align: center;
  font-size: 35px;
  line-height: 35px;
  vertical-align: middle;
}
#crea-playlist > a:hover:before {
  background-color: white;
}
#crea-playlist a:hover {
  color: white;
}

#nome-playlist {
  overflow: auto;
  height: 90%;
  padding-top: 10px;

}
#nome-playlist ul {
  list-style: none;
}
#nome-playlist ul li {
  margin-top: 15px;
  font-size: 12px;
  color: #6F6F6F;
  font-weight: bold;

}
#nome-playlist ul li:hover {
  color: white;
  cursor: pointer;
}

#navbar-bottom {
  height: 75px;
  background-color: pink;
}
#user {
  height: 100%;
  padding: 0 20px;
  background-color: black;
}

#user-top {
  padding-bottom: 10px;
  font-size: 12px;
  color: #6F6F6F;
  border-bottom: 1px solid #6F6F6F;
}
#user-top a {
  padding-left: 5px;
  text-decoration: none;
  color: #6F6F6F;
}
#user-top a:hover {
  color: white;
}

#user-bottom {
  padding: 10px 0;
}
#user-bottom img {
  height: 25px;
  border-radius: 50px;
  vertical-align: middle;
}
#user-bottom span {
  padding-left: 10px;
  font-size: 12px;
  font-weight: bold;
}

/* contenuto della pagina */
#cta {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 210px);
  height: 90px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}
#cta a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  margin-right: 10px;
  padding: 10px 40px;
  font-size: 12px;
}
#cta a:hover {
  transform: scale(1.1);
}

#content {
  margin-top: 90px;
  padding: 20px;
}

#content-nav ul {
  text-align: center;
}
#content-nav li {
  display: inline-block;
  margin-right: 20px;
  padding: 3px 0;
  text-transform: uppercase;
  position: relative;
}
#content-nav li:first-child::after {
  content:"";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  height: 2px;
  background-color: #ADFF2E;
}
#content-nav a {
  text-decoration: none;
  color: #6F6F6F;
  font-size: 14px;
  font-weight: bold;
}
#content-nav a:hover {
  color: white;
}

/* prima fascia di album */
#recently-played-items {
  padding: 30px 0;
}
#recently-played-items h2 {
  padding-left: 5px;
}

.album-container {
  margin-top: 20px;
  display: flex;
}

.album-cover {
  width: calc(100% / 6);
  padding: 5px;
}
.album-cover img {
  width: 100%;
}
.album-cover a {
  text-decoration: none;
}

#albums {
  display: flex;
  flex-wrap: wrap;
}
#albums img {
  width: 50%;
}

.image {
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,.5);
  display: none;
}
.layover:hover .overlay {
  display: block;
}
.overlay i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 65px;
  color: white;
}

.caption {
  text-align: center;
}
.caption h4 {
  padding-top: 10px;
  font-size: 14px;
  color: white;
}
.caption span {
  font-size: 10px;
  color: #6F6F6F;
}

/* seconda fascia di album */
#creato-per-te {
  padding: 30px 0;
}
#creato-per-te h2 {
  padding-left: 5px;
}
#creato-per-te h3 {
  margin-top: 10px;
  padding-left: 5px;
  font-size: 12px;
  color: #6F6F6F;
}

/* terza fascia di album */
#artisti-popolari {
  padding: 30px 0;
}
#artisti-popolari h2 {
  padding-left: 5px;
}
#artisti-popolari h3 {
  margin-top: 10px;
  padding-left: 5px;
  font-size: 12px;
  color: #6F6F6F;
}
#artisti-popolari img {
  border-radius: 100px;
}
#artisti-popolari .album-cover .overlay {
  border-radius: 100px;
}

/* footer - media controls */
#media-controls {
  display: flex;
  justify-content: space-between;
}

#song-data {
  display: flex;
  align-items: center;
  width: 210px;
  padding: 10px;
}
#song-data img {
  width: 40px;
}
#like {
  display: flex;
}
#like i {
  color: #6F6F6F;
}
#like i:hover {
  color: white;
  cursor: pointer;
}
#like .fa-heart {
  margin-right: 10px;
}

#song-title {
  margin-left: 10px;
  margin-right: 45px;
}
#song-title h5 {
  font-size: 12px;
}
#song-title h6 {
  font-size: 10px;
  color: #6F6F6F;
}
#song-title h6:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

#player-controls {
  width: 40%;
}
#controls {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  padding-top: 10px;
}
#controls .fa-play-circle {
  font-size: 24px;
  margin: 0 30px;
}
#controls .fa-play-circle:hover {
  transform: scale(1.2);
}
#controls .fa-step-backward {
  margin-left: 20px;
}
#controls .fa-step-forward {
  margin-right: 20px;
}
#controls i:hover {
  cursor: pointer;
}

#time {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  height: 40%;
}
#time span {
  font-size: 10px;
}
#time-bar {
  width: 80%;
  height: 4px;
  border-radius: 3px;
  background-color: grey;
  margin: 0 10px;
  cursor: pointer;
}
#time-elapsed {
  width: 20%;
  height: 100%;
  border-radius: 3px;
  background-color: lightgrey;
  position: relative;
}
#time-elapsed:after {
  display: none;
  content:"";
  height: 10px;
  width: 10px;
  position: absolute;
  top: -3px;
  right: 0;
  border-radius: 50px;
  background-color: white;
}
#time-bar:hover #time-elapsed {
  background-color: #ADFF2E;
}
#time-bar:hover #time-elapsed:after {
  display: inline-block;
}

#player-audio {
  display: flex;
  align-items: center;
  width: 210px;
  /* height: 100%; */
}
#player-audio i {
  padding: 0 7px;
  font-size: 12px;
}
#player-audio i:hover {
  cursor: pointer;
}

#volume-bar {
  width: 50%;
  height: 4px;
  margin-left: 10px;
  border-radius: 3px;
  cursor: pointer;
  background-color: grey;
}
#volume-lvl {
  width: 20%;
  height: 100%;
  border-radius: 3px;
  position: relative;
  background-color: lightgrey;
}
#volume-lvl:after {
  display: none;
  content:"";
  height: 10px;
  width: 10px;
  position: absolute;
  top: -3px;
  right: 0;
  border-radius: 50px;
  background-color: white;
}
#volume-bar:hover #volume-lvl {
  background-color: #ADFF2E;
}
#volume-bar:hover #volume-lvl:after {
  display: inline-block;
}


/* MD devices */
@media screen and (max-width: 1199px) {

  .album-container {
    flex-wrap: wrap;
  }

  .album-cover {
    width: calc(100% / 4);
  }

}
/* MS devices */
@media screen and (max-width: 991px) {

  .album-cover {
    width: calc(100% / 2);
  }

  #artisti-popolari img {
    border-radius: 200px;
  }

  #song-data {
    width: 180px;
  }

  #like {
    flex-direction: column;
  }

  #song-title {
    margin-right: 20px;
  }

}

/* XS devices */
@media screen and (max-width: 767px) {

  /* navbar-xs */
  #nav-bar {
    display: none;
  }

  #nav-bar-xs {
    display: inline-block;
    height: 100%;
    width: 50px;
    background-color: black;
  }
  #xs-top {
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #xs-top i {
    font-size: 25px;
    padding-bottom: 10px;
  }
  #xs-top a,
  #xs-bottom a {
    color: white;
  }

  #xs-top .fa-spotify {
    padding: 5px 0 15px 0;
    font-size: 30px
  }

  #xs-bottom {
    height: 100px;
    display: flex;
    flex-direction: column-reverse ;
    align-items: center;
  }
  #xs-bottom a {
    margin-bottom: 30px;
  }
  #xs-bottom img {
    height: 30px;
    margin-bottom: 10px;
    border-radius: 50px;
  }

  /* content-xs */
  #content-window {
    width: calc(100% - 50px);
  }

  #cta {
    width: calc(100% - 50px);
  }

  #volume-bar {
    width: 40%;
  }

}
